doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon", href="../assets/banner/images.png")
        //- style-link
        link(rel="stylesheet" href="../style/style.css")
        //- style-link
        title Gotrip7
    body 
        //- header start
        header 
            //- navbar start
            nav 
                h2 GoTrieop

                .nav_center 
                    li Home
                    li Services
                    li Pricing
                    li Contack
                .nav_right
                    h2 Sign Up
                    button login
            //- navbar end
            //- hero start
            section 
                button.explorebtn exsplore the world
                h2.contenttext Explore The Natural <br>Beauty Of Halmahera<br> With Us
                p.contenttext2 explore the beauty of god's earth in a<br> beautiful forest and have fun
                button.explorebtn2 Exsplore Now
        //- hero end
        //- hero-img
        img.imgforbackground(src="../assets/img/Rectangle 3.png" alt="")
        img.imgforbackground2(src="../assets/img/image 10.png" alt="")
        //- hero-img

        //- main-start
        main 
            section.main-child-1
                .info 
                    h4 Choice Of
                    h2 Destinations
                    p explore the beauty of god's earth in<br> a beautiful forest and have fun  
                    button.explorebtn3 Exsplore Now
                .cards
                    .imgaddimg
                        img.addimg1(src="../assets/img/Rectangle 9.png" alt="")
                        img.addimg2(src="../assets/img/Vector 1.png" alt="")
                    .imggroup 
                        img.img1(src="../assets/img/Rectangle 24.png" alt="")
                        img.img2(src="../assets/img/Rectangle 25.png" alt="")
                        img.img3(src="../assets/img/Rectangle 26.png" alt="")
            section.main-child-2
                img(src="../assets/img/Mask Group.png" alt="")
                .right-content
                    h2 What do customers say<br> about us?
                    .profile-section 
                        .trustdiv
                            img(src="../assets/img/Mask Group (1).png" alt="")
                        .textdev 
                            h3 Alpanasap
                            p Japung, Indonesia
                    .right-content-footer
                        p Very satisfying service makes it<br> comfortable, a beautiful place in the world. 
                        img.starsimg(src="../assets/img/stars.png" alt="")
            section.main-child-3 
                h2.title Prepare Yourself And <br>Start Exploring With Us.
                p.title_info There's the best discount for you today.
                button.title-footer-btn Get Started

                img.needabslt(src="../assets/img/Group 2.png" alt="")
                img.needabslt2(src="../assets/img/Group 2.png" alt="")
        //- main-end
        //- footer-start
        footer 
            .footer-child 
                h2 Subscribe <br>To Our Newsletter
                .userdata 
                    input(type="text" placeholder="Yourmail@mail.com")
                    button Subscribe
            .footer-child-2
                .nav-for-footer
                    h2 GoTrieop

                    .nav_center 
                        li Home
                        li Services
                        li Pricing
                        li Contack
                    .nav_right
                        h2 Sign Up
                        button login
        //- footer-end